#timer {
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#timer-title {
    padding-bottom: 60px;
}