/* Reset some default styles */
/* 
#E27D60
#85DCB
#E8A87C
#C38D9E
#41B3A3 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

#app-container{
  background-color: rgb(204, 200, 170);
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(204, 200, 170);
}

/* Define the CSS for the #contrast ID */
#contrast {
  background-color: #e38d6b; /* Updated background color for the contrast button */
  color: #fff; /* Text color */
}

#contrast:hover {
  background-color: #d37d5b;
}

.nav-btn {
  background-color: #8ca5ad; 
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Add hover styles for all buttons */
.nav-btn:hover {
  background-color:#7b959f; /* Updated background color on hover */
}

#about {
  background-color: #7b959f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 14vh;
}

#todo-list-card {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  backdrop-filter: blur(10px);
}

#timer-card {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add a subtle border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
}

#name-logo {
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#name-logo:hover {
  transform: scale(1.05);
  color: #ff5733;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
  flex: 1; /* Allow sections to take available height */
}

#projects {
  min-height: 50vh;
  text-align: center;
}

.project-container {
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Style the contact form */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: rgb(241, 239, 239); /* Updated background color */
  color: rgb(25, 23, 23); /* Updated text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the footer */
footer {
  background-color: rgb(241, 239, 239); /* Updated background color */
  color: rgb(25, 23, 23); /* Updated text color */
  padding: 10px 0;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
